@font-face {
    font-family: "Russo One";
    src: url('../fonts/RussoOne-Regular.woff');
    src: url('../fonts/RussoOne-Regular.woff') format('woff'),
         url('../fonts/RussoOne-Regular.woff2') format('woff2');
}

body, button {
    font-family: "Russo One", sans-serif;
}

h1 {
    font-size: 3rem;
    text-align: center;

    @media screen and (min-width: 514px) {
        font-size: 4rem;
    }
}