@use 'mixins' as mixins;

body {
    @include mixins.flex-center;
    width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
    padding: 20px;

    & > div {
        @include mixins.flex-center;
    }
}

.buttons {
    gap: 2rem;
    padding: 2rem 0;
}