@use '../abstracts/variables' as vars;

button {
    cursor: pointer;
}

.btn {
    color: vars.$primary;
    border: none;
    margin: 0;
    padding: 24px 40px;
    font-size: 1.4rem;
    border-radius: 15px;
    transition: all 0.15s ease-in-out;

    &:focus {
        outline: thick double white;
    }

    &:active {
        outline: none;
    }

    &:disabled {
        filter: brightness(65%);
        cursor: not-allowed;
    }

    &--primary {
        @extend .btn;
        background-color: vars.$playBtn;

        &:hover:not(:disabled) {
            background-color: darken(vars.$playBtn, 10%);
        }
    }

    &--secondary {
        @extend .btn;
        background-color: vars.$tercery;

        &:hover:not(:disabled) {
            background-color: darken(vars.$tercery, 10%);
        }
    }
}