@use '../base/colors' as *;

.btn {
    color: $primary;
    border: none;
    margin: 0;
    padding: 24px 40px;
    font-size: 1.4rem;
    border-radius: 15px;
    margin: 2rem 0;

    &:nth-child(2) {
        margin-left: 2.2rem;
    }

    &_primary {
        background-color: $playBtn;
    }

    &_secondary {
        background-color: $tercery;
    }
}