@use '../base/colors' as *;

button {
    cursor: pointer;
}

.btn {
    color: $primary;
    border: none;
    margin: 0;
    padding: 24px 40px;
    font-size: 1.4rem;
    border-radius: 15px;
    transition: all 0.15s ease-in-out;

    &:focus {
        outline: thick double white;
    }

    &:active {
        outline: none;
    }

    &--primary {
        @extend .btn;
        background-color: $playBtn;

        &:hover {
            background-color: darken($playBtn, 10%);
        }
    }

    &--secondary {
        @extend .btn;
        background-color: $tercery;

        &:hover {
            background-color: darken($tercery, 10%);
        }
    }
}
// TODO: add hover and focus styles.