@use '../abstracts/variables' as vars;

input {
    width: 100%;
    max-width: 540px;
    background-color: vars.$secondary;
    border: 3px solid vars.$tercery;
    border-radius: 20px;
    padding: 20px;
    color: vars.$primary;
    font-size: 1.5rem;
}