@use '../abstracts/variables' as vars;

#number {
    background-color: vars.$yellow;
    padding: 0 2.6rem;
    border-radius: 20px;

    @media screen and (min-width: 514px) {
        padding: 0 2.4rem;
    }
}